<h2>Login with Google!</h2>
<%= link_to('Login with Google!', '/auth/google_oauth2') %>
<h2>Login</h2>
<%= form_tag '/login' do %>
    Enter your username: <%= text_field_tag :username  %> <br><br>
    Enter your password: <%= password_field_tag :password %><br><br>
    <%= submit_tag "Login" %>
<% end %>