<div id="new_student_div">
    <%= form_for @student do |f| %>
        <% @student.errors.full_messages.each do |msg| %>
            <li class="errors"><%= msg %></li>
        <% end %>
        <%= f.text_field :username, placeholder: "Create a Username" %><br><br>
        <%= f.password_field :password, placeholder: "Create a password" %><br><br>
        <%= f.password_field :password_confirmation, placeholder: "Confirm your password" %><br><br>
        <%= f.text_field :email, placeholder: "youremail@example.com" %><br><br>
        
        <%= f.submit id: "create_student", title: "Create a new Student!" %>
    <% end %>
</div>