<h2><%= current_course.title %> course topics:</h2>
<hr>
<% current_course.topics.each do |topic| %>
    <div id="topics-div">
        <p><%= link_to topic.title, course_topic_path(topic, current_course) %></p>
        <% if current_student.is_admin %>
            <%= form_tag course_topic_path(topic, current_course), method: "delete" do %>
                <%= submit_tag "Delete Topic" %>
            <% end %>
            <%= link_to "Edit Topic", edit_course_topic_path(topic, current_course) %>
        <% end %>
    </div>
<% end %>