<h2><%= @course.title %> course topics:</h2>
<hr>
<% @course.topics.each do |topic| %>
    <div id="topics-div">
        <p><%= link_to topic.title, course_topic_path(topic, @course) %></p>
        <% if current_student.is_admin %>
            <%= form_tag course_topic_path(topic, @course), method: "delete" do %>
                <%= submit_tag "Delete Topic" %>
            <% end %>
            <%= link_to "Edit Topic", edit_course_topic_path(topic, @course) %>
        <% end %>
    </div>
<% end %>