<table id="topic-admin-index" class="admin-tables">
    <thead><th>Topic Title</th><th>Topic's Course</th><th>Description</th><th>Topic Videos</th><th>Edit Topic</th><th>Delete Topic</th></thead>
    <tbody>
        <% @topics_by_course.each do |topic| %>
            <tr>
                <td><%= link_to topic.title, admin_topic_path(topic) %></td>
                <td><%= link_to topic.course.title, admin_course_path(topic.course) %></td>
                <td><%= topic.description %>
                <td><%= link_to "Topic Videos", admin_topic_videos_path(topic) %></td>
                <td><%= link_to image_tag("edit-icon.png", width: '25px'), edit_admin_course_topic_path(topic.course, topic) %></td>
                <td>
                    <%= form_tag admin_topic_path(topic), method: "delete" do %>
                        <%= link_to image_tag("trash.png", width: '25px'), admin_topic_path(topic), method: "delete", id: "delete-topic-btn"%>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
