<%= form_for @course do |f| %>
    <h2>Create your new course!</h2>
    Course Title: <%= f.text_field :title %><br><br>
    Course Description: <%= f.text_field :description %><br><br>

    <h2>Create the first topic for your new course!</h2>
    <ul>
        <%= f.fields_for :topics do |new_topic_form| %>
        <li>
            <%= new_topic_form.label :title %>
            <%= new_topic_form.text_field :title %><br><br>

            <%= new_topic_form.label :description %>
            <%= new_topic_form.text_field :description %>
        </li>
        <% end %>
    </ul>

    <%= f.submit %>
<% end %>

