<h2>All Courses</h2>
<table id="course-admin-index" class="admin-tables">
    <thead><th>Title</th>
        <th>Topics</th>    
        <th>Course Comments</th>
        <th>Ratings</th>
        <th>Create Topic</th>
        <th>Delete Course</th>
        <th>Edit Course</th>
    </thead>

    <tbody>
        <% @courses.each do |course| %>
            <tr>
                <td><%= link_to course.title, admin_course_path(course) %></td>
                <td><%= link_to "Topics", admin_course_topics_path(course) %>
                <td><%= link_to "Comments", admin_course_comments_path(course) %></td>
                <td> 4/ 5</td>
                <td><%= link_to "Create Topic", new_admin_course_topic_path(course) %></td>
                <td>
                    <%= form_tag admin_course_path(course), method: "delete" do %>
                        <%= submit_tag "Delete Course" %>
                    <% end %>
                </td>
                <td><%= link_to "Edit Course", edit_admin_course_path(course)%></td>
            </tr>
        <% end %>
    </tbody>
</table>

