<!DOCTYPE html>
<html>
  <head>
    <title>Administrator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'students/dashboard' %>
  </head>

  <body>

    <h1>Welcome, Admin <%= current_student.firstname%></h1>
    <p id="logout-paragraph">
        <p>Logged in as Admin User: <b><%= current_student.username %></b></p>
        <p><%= link_to "Logout", logout_path %></p>
    </p>
    
    <nav id="nav-bar">
      <ul>
        <li><%= link_to "All Students", students_path %></li>
        <li>All Transcripts</li>
        <li><%= link_to "All Comments", comments_path %></li>
        <li><%= link_to "All Courses", courses_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>

</html>
