<!DOCTYPE html>
<html>
  <head>
    <title>Init0Edu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link type="text/css" rel="stylesheet" href="stylesheets/students/new.css">
  </head>

  <body>
    <nav id="nav-bar">
      <ul>
        <% if logged_in_student?%>
          <li><%= link_to "Logout", logout_path%></li>
        <% else %>
          <li><%= link_to 'Sign Up', root_path %></li>
          <li> <%= link_to "Student Login", login_path, id: "student-login-btn" %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>

</html>
