<!DOCTYPE html>
<html>
  <head>
    <title>Init0Edu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'students/index' %>
    <link type="text/css" rel="stylesheet" href="stylesheets/students/index.css">
    <%# <link type="text/css" rel="stylesheet" href="stylesheets/teachers/index.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/courses/index.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/topics/index.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/comments/index.css"> %>
  </head>

  <body>
    <nav id="nav-bar">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <% if logged_in_student? || logged_in_teacher? %>
          <li><%= link_to "Logout", logout_path%></li>
        <% else %>
          <li>
            <%= button_to "Signup", signup_path, id: "sign-up-btn" %> / 
            <%= link_to "Student Login", login_path, id: "student-login-btn" %> / 
            <%= link_to "Teacher Login", login_path, id: "teacher-login-btn"%>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>

</html>
