<!DOCTYPE html>
<html>
  <head>
    <title>Init0Edu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'students/index' %>
    <link type="text/css" rel="stylesheet" href="stylesheets/students/index.css">
    <%# <link type="text/css" rel="stylesheet" href="stylesheets/teachers/index.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/courses/index.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/topics/index.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/comments/index.css"> %>
  </head>

  <body>
    <nav id="nav-bar">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li>Sign Up / Login</li>
      </ul>
    </nav>
    <%= yield %>
  </body>

</html>
