<!DOCTYPE html>
<html>
  <head>
    <title>Learning Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'students/dashboard' %>
    <link type="text/css" rel="stylesheet" href="stylesheets/students/index.css">
    <link rel="icon" href="images/logo-icon" type="image/icon type">
  </head>

  <body>

    <h1>Welcome, <%= current_student.username%></h1>
    <p id="logout-paragraph">
        <p><%= link_to "Logout", logout_path, id: "student-logout-btn" %></p>        
    </p>
    
    <nav id="nav-bar">
      <ul>
        <li><%= link_to "Courses", courses_path %></li>
        <li><%= link_to "Profile", student_path(current_student) %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>

</html>
